.food {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 3px auto;
  border: 2px solid black;
}

.food-image {
  height: 50px;
  width: 50px;
  align-self: center;
  padding-left: 10px;
}

.food-title {
  padding: 0 10px;
  font-size: 15px;
  margin: 0;
  align-self: center;
}

.macronutrients {
  height: 55px;
  width: 75px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3 auto);
  align-items: center;
  align-self: center;
  padding: 5px;
}
