.metrics {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
  'top'
  'bottom'
  ;
}

.total-calories {
  grid-area: top;
  justify-self: center;
  align-self: end;
  font-size: 20px;
  color: green;
  font-weight: bold;
  padding: 10px;
}

.macronutrients {
  width: 75px;
  grid-area: bottom;
  justify-self: center;
  align-self: start;
  color: black;
  border: 2px solid black;
  margin: 10px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  'topLeft topRight'
  'middleLeft middleRight'
  'bottomLeft bottomRight'
  ;
}

.protein-label {
  grid-area: bottomLeft;
  justify-self: center;
}

.carbs-label {
  grid-area: topLeft;
  justify-self: center;
}

.fat-label {
  grid-area: middleLeft;
  justify-self: center;
}

.protein-value {
  grid-area: bottomRight;
  justify-self: left;
}

.carbs-value {
  grid-area: topRight;
  justify-self: left;
}

.fat-value {
  grid-area: middleRight;
  justify-self: left;
}
