#nat-lang-search-page {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: .75fr 4.5fr .75fr;
}

#nat-lang-search {
  height: 100%;
  width: 100%;
}

#greeting {
  display: block;
}

#single-item {
  margin: 5px;
  width: 100px;
  position: absolute;
  top: 0%;
  right: 0%;
}
