.Meal > button {
  justify-self: end;
}

.Meal-Contents {
  display: grid;
  grid: auto 1fr / auto;
  justify-content: start;
  align-items: center;
  grid-gap: 5px;
  overscroll-behavior: contain;
}

.Meal-Ingredients {
  align-self: start;
  display: grid;
  justify-items: start;
  align-items: start;
  max-height: 125px;
  padding-left: 5px;
  overflow: scroll;
  overscroll-behavior: contain;
}

@media (min-width: 600px) {
  .Meal-Contents {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
    max-height: 227px;
    width: 100%;
    justify-content: unset;
    overflow: auto;
  }

  .Meal-Ingredients {
    max-height: unset;
    grid-gap: 4px;
  }

  .Meal-Ingredients > p {
    font-size: 1.4em;
  }

  .Meal-Contents > h3 {
    font-size: 1.5em;
    position: sticky;
    top: 0%;
    background-color: var(--default-black);
    padding-bottom: 2px;
  }
}
