@import "pages.css";
@import "items.css";
@import "buttons.css";

* {
  margin: 0;
}

body {
  /* Color Palette */
  --default-black: rgb(20, 20, 20);
  --default-white: rgb(245, 245, 245);
  --default-gray: rgb(74, 74, 74);
  --edit-mode-color: rgb(0,255,100);
  --light-green: rgb(152, 255, 184);
  --green: rgb(0,255,100);
  --secondary-color: var(--light-green);
  /*  */

  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--default-black);
  color: var(--default-white);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: "Gill Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

body, html {
  overscroll-behavior: none;
}

h1 {
  font-size: 2.5em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  font-size: 1.8em;
  border-radius: 10px;
  text-align: center;
}

input, textarea {
  background-color: transparent;
  color: var(--default-white);
  border: 2px solid transparent;
  outline: none
}

input:focus {
  outline: none;
}
