#title {
  grid-area: middle;
  justify-self: center;
}

.meals {
  padding: 3px 3px 0 3px;
}

.misc-items {
  padding: 0 3px 3px 3px;
}

#targets {
  grid-area: right;
  justify-self: right;
  width: 100px;
}

#add-food-button {
  grid-area: middle;
  justify-self: center;
  align-self: center;
  border-color: rgb(0,255,100);
  color: rgb(0,255,100);
}

.edit-button {
  grid-area: right;
  justify-self: right;
  text-align: center;
  width: 75px;
  padding: 10px 12px;
}
