#title {
  grid-area: middle;
  justify-self: center;
}

#targets {
  grid-area: right;
  justify-self: right;
  width: 100px;
}

#add-food-button {
  grid-area: middle;
  justify-self: center;
  align-self: center;
  border-color: rgb(0,255,100);
  color: rgb(0,255,100);
}

.edit-button {
  grid-area: right;
  justify-self: right;
  width: 75px;
}
