#add-meal-title-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-meal-title-form {
  border: 5px solid white;
  padding: 10px 20px;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr auto 1fr auto auto;
  grid-template-areas:
  "top top"
  "midTop midTop"
  "middle middle"
  "midBottom midBottom"
  "bottomLeft bottomRight"
  ;
}

.form-title {
  justify-self: center;
  margin: 0;
}

#photo-title-prompt {
  grid-area: top;
}

#photo-upload {
  grid-area: midTop;
  height: 200px;
  width: 200px;
  background-color: white;
  justify-self: center;
  width: 85%;
}

#meal-title-prompt {
  grid-area: middle;
}

#meal-title-input {
  grid-area: midBottom;
  justify-self: center;
  width: 85%;
  margin: 10px 0 30px 0;
}

#skip-button {
  grid-area: bottomLeft;
  justify-self: right;
}

#add-button {
  grid-area: bottomRight;
  justify-self: left;
  border-color: rgb(0,255,100);
  color: rgb(0,255,100);
}
