* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Gill Sans";

  --default-black: rgb(20, 20, 20);
  --default-white: rgb(245, 245, 245);
  --default-gray: rgb(74, 74, 74);
  --edit-mode-color: rgb(0,255,100);
  --light-green: rgb(152, 255, 184);
  --green: rgb(0,255,100);
  --secondary-color: var(--light-green);

  background-color: var(--default-black);
  color: var(--default-white);
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 2.5em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
