.title {
  grid-area: middle;
  justify-self: center;
}

.back-button-top{
  width: 100px;
  grid-area: left;
  justify-self: left;
}
#single-item-search {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

#results {
  overflow: scroll;
  height: 80%;
  padding: 3px;
  width: 80%;
  border: 1px solid white;
  margin: 0 auto;
}

.food-group {
  width: 80%;
  margin: 0 auto;
}

#basket {
  margin-left: 5px;
  padding: 5px;
}
