#single-item-search {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

#results {
  overflow: scroll;
  height: 80%;
  padding: 3px;
  width: 80%;
  border: 1px solid white;
  margin: 0 auto;
}

.food-group {
  width: 80%;
  margin: 0 auto;
}
